<form method="POST" action="/search">
  <img src="https://upload.wikimedia.org/wikipedia/commons/e/eb/WoW_icon.svg" alt="WoW Logo">
  <h1 for="websites">WoW Character Stats</h1>
  
  <label for="regions">Region:</label>
  <select name="regions" id="regions">
    <option value="us">US</option>
    <option value="eu">EU</option>
    <option value="tw">TW</option>
    <option value="kr">KR</option>
    <option value="cn">CN</option>
  </select><br><br>

  <label for="realm">Realm:</label>
  <input type="text" name="realm"><br><br>

  <label for="character_name">Character Name:</label>
  <input type="text" name="character_name"><br><br>

  <button type="search">Search</button>
</html>
</form>
